<div class="jumbotron">
<h1>Hello, Melissa!</h1>
<h2>Thank you for having me today</h2>
<p>Ruby on Rails project - Wesley Febrian<br>
<%= link_to "justwesley.com", "http://justwesley.com", class: "btn btn-success btn-lg" %></p>
</div>
